/* ==red tag for book offer== */
.image_wrapper .red_tag  p{
    margin-top: -65%;
    transform: translate(4%);
}

/* ==book cards with bg== */
.book_card_with_bg_section {
    padding-top: 3.5rem;
}
.book_card_with_bg_section .row {
    margin-top: -4.8rem;
    margin-bottom: -3.2rem;
    margin-left: -2.4rem;
    margin-right: -2.4rem;
}
.book_card_with_bg_section .row>* {
    padding-top: 4.8rem;
    padding-bottom: 3.2rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.card_with_bg {
    position: relative;
    text-align: center;
}
.circle_bg {
    position: relative;
    text-align: center;
}
.circle_bg::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    opacity: 0.3;
    z-index: -1;
}
.book_card_with_bg_section .row>*:nth-child(odd) .circle_bg::before {
    background: #DBF2F8;
}
.book_card_with_bg_section .row>*:nth-child(even) .circle_bg::before {
    background: #E1EDFB;
}
.circle_bg img {
    filter: drop-shadow(15px 20px 35px rgba(42, 70, 66, 0.2));
    border-radius: 1rem;
    max-width: 16rem;
    width: 100%;
}
.circle_bg img {
    border-radius: 1rem;
}
.card_with_bg h6 {
    margin-top: 4.8rem;
    font-size: 2.8rem;
    line-height: 4.2rem;
    font-weight: bold;
}


/* ==book card common style== */
.book_card_wrapper {
    text-align: center;
}
.book_card_wrapper .rateYo {
    margin: 0 auto;
}
.book_card_wrapper .image_wrapper {
    /* filter: drop-shadow(15px 20px 35px rgba(42, 70, 66, 0.2)); */
    border-radius: 1rem;
    position: relative;
    box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.26);
}
.book_card_wrapper .image_wrapper img {
    border-radius: 1rem;
}
.book_card_wrapper .content_wrapper {
    padding-top: 2rem;
}

.book_card_content h3.title {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: bold;
}
.book_card_content p.author, .book_card_content h6.discount {
    font-size: 1.8rem;
    line-height: 2.7rem;
    font-weight: bold;
    color: var(--gray);
}
.book_card_content .price_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.book_card_content h6.discount {
    text-decoration-line: line-through;
    margin-right: 1.2rem;
}
.book_card_content h5.regular {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: bold;
}
.book_card_content a.btn_buy_now {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: #4F7F6C;
    display: inline-block;
    border-bottom: 2px solid #4F7F6C;
}



/* ==writer card== */
.writer_content{
    text-align: center;
}
.writer_img_wrapper {
    box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.26);
}
.writer_content .card_text{
    padding-top: 2.2rem;
}
.writer_content img{
    border-radius: 1rem;
}
.writer_content h3 {
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: var(--blue);
}



/* ==writers page== */
.writer_cards_section .row{
    margin-top: -8rem;
    margin-left: -2.9rem;
    margin-right: -2.9rem;
}
.writer_cards_section .row>*{
    padding-top: 8rem;
    padding-left: 2.9rem;
    padding-right: 2.9rem;
}


/* ==Books and writers details page== */
.right_grid_content {
    padding-left: 7.6rem;
}
.right_grid_content .row {
    margin-top: -3.2rem;
    margin-bottom: -3.2rem;
    margin-left: -7.6rem;
    margin-right: -7.6rem;
}
.right_grid_content .row>* {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    padding-left: 7.6rem;
    padding-right: 7.6rem;
}

@media (max-width: 1679.98px) {
    .circle_bg::before {
        width: 26rem;
        height: 26rem;
    }
    .circle_bg img {
        max-width: 15rem;
    }
    .card_with_bg h6 {
        margin-top: 3.8rem;
        font-size: 2.4rem;
        line-height: 3.8rem;
    }
    .book_card_content h3.title {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .book_card_content h5.regular {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .book_card_content p.author, .book_card_content h6.discount {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
}
@media (max-width: 1399.98px) {}

@media (max-width: 767.98px) {
    .writer_content h3 {
        font-size: 2rem;
    }
    .circle_bg::before {
        width: 31rem;
        height: 31rem;
    }
    .book_card_content h3.title {
        font-size: 1.6rem;
        line-height: 2.9rem;
        font-weight: bold;
    }
    .book_card_content h5.regular {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    .book_card_content p.author, .book_card_content h6.discount {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .book_card_content .price_wrapper {
        padding: 1.3rem 0;
    }
}

@media (max-width: 575.98px) {
    .book_card_with_bg_section .row {
        margin-top: 0;
        margin-bottom: -4.5rem;
    }
    .book_card_with_bg_section .row>* {
        padding-top: 0;
        padding-bottom: 2.8rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .book_card_with_bg_section .row>col:last-child {
        padding-bottom: 0rem;
    }

    /* ==writers page== */
    .writer_cards_section .row{
        margin-top: -4rem;
        margin-left: -2.3rem;
        margin-right: -2.3rem;
    }
    .writer_cards_section .row>*{
        padding-top: 4rem;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }
    .writer_content h3 {
        font-size: 1.6rem;
    }
    .circle_bg::before {
        width: 14rem;
        height: 14rem;
    }
    .card_with_bg h6 {
        font-size: 2rem;
        line-height: 3.3rem;
        margin-top: 2rem;
    }

    .new_published_card .jq-ry-container {
        padding: 0;
    }
    
}
