.footer {
    background: #F9F9F9;
    padding-top: 9rem;
}
.footer .logo_wrapper {
    max-width: 34.9rem;
    width    : 100%;
    /* margin   : 0 auto; */
}
.footer h6 {
    display: block;
    font-weight   : 700;
    font-size: 2rem;
    padding-right: 3rem;
    text-transform: uppercase;
    color         : #13A89E;
    color         : var(--blue);
    margin-bottom : 2.4rem;
    font-family: 'Ruposhi Bangla Unicode';
}


.website_address a{
    font-weight: normal;
    font-size: 2rem;
    line-height: 3rem;
    color: #979797;    
}

.icon li::before{
    color: #13A89E;
    content: "\2022"; 
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    width: 1.1rem;
    /* margin-left: -1.5em; */
  }

.icon a{
    font-size: 2rem;
    line-height: 3rem;
    color: #979797;
}

.right_border{
    border-right: 1px solid #4F7F6C;
}

.center_content{
    padding-left: 10rem;
}

.footer_inner_one {
    padding: 8.5rem 0 5.2rem;
}

/* two */
.footer_inner_two {
    padding: 9rem 0 12.4rem;
}

.footer_inner_two ul li {
    position: relative;
}

.footer_inner_two ul.icon li:not(:last-child) {
    margin-bottom: 4px;
}

.footer_inner_two ul.icon li:before {
    content         : '';
    background-image: url(../images/icons/chevron_right.svg);
    width           : 1.8rem;
    height          : 1.8rem;
    background-size : 1.8rem 1.8rem;
    display         : inline-block;
}

.footer_inner_two li a {
    font-size  : 1.8rem;
    line-height: 2.7rem;
    font-weight: 400;
    color      : var(--gray);
    font-family: 'Ruposhi Bangla Unicode';
}

.footer_inner_two .last_link a{
    color: red;
    font-family: 'inter',sans-serif;
}
.footer_inner_two .last_link{
    padding-bottom: 3.1rem;
}
.footer_inner_two .last_link_li{
    padding-bottom: 3.1rem;
}
.footer_inner_two .last_link_inter{
    font-family: 'inter',sans-serif;
}

/* three */
.footer_inner_four {
    border-top     : 1px solid #4F7F6C;
    padding        : 3.8rem 0 4.5rem;
    display        : flex;
    justify-content: space-between;
}

.footer_inner_four p {
    font-size  : 1.8rem;
    line-height: 2.1rem;
    font-weight: 400;
    font-family: 'inter',sans-serif;
    color: #797979;
}
.footer_inner_four .copywight span{
    color: #13A89E;
}
/* social icon */
.social_wrapper {
    padding-bottom: 1rem;
}

.social_wrapper ul {
    display: inline-flex;
}

.social_wrapper ul li:not(:last-child) {
    margin-right: 3.2rem;
}

.social_wrapper ul li a {
    display  : inline-block;
    max-width: 3.5rem;
}

.social_link_box{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 1px solid #4F7F6C;
}


.social_link_box li a img{
    height: 3.5rem;
    width: 3.5rem;
}

.social_link_box  li a{
    margin-right: 2.6rem;
}

.acceptPayment{
    padding-top: 3rem;
    padding-bottom: 1.8rem;
    text-align: center;
    border-top: 1px solid #4F7F6C;
}

.acceptPayment img{
    max-width: 40.5rem;
    width: 100%;
}
.acceptPayment h6{
    font-family: 'inter';
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #979797;
    text-transform: capitalize;
    margin-top: 2.7rem;
}

@media (min-width: 1600px) {
    .footer .footer_inner_two{
        max-width: 1380px;
        margin: 0 auto;
    }
}
@media (max-width: 991.98px) {
    .footer_inner_two {
        padding: 0 0 32px;
    }
    .footer_inner_two ul li a{
        font-size: 1.8rem;
        line-height: 21px;
        font-weight: 400;
        margin-bottom: 7px;
    }
    .footer h6 {
        line-height  : 2.1rem;
        margin-bottom: 2.3rem;
        margin-top   : 7.7rem;
    }
    .social_madia_wrapper h6{
        margin-bottom: 26px;
    }

    .footer_inner_four {
        display   : block;
        text-align: center;
        padding   : 1rem 0 2.7rem;
    }

    .footer_inner_four p {
        font-weight: 400;
        font-size  : 1.4rem;
        line-height: 1.7rem;
    }

    .copywight {
        padding-bottom: 11px;
    }

    .right_border{
        border-right:none;
    }

    .center_content{
        padding-left: 0;
    }
}



@media (max-width: 767.98px) {
    .footer {
        padding-top: 5rem;
    }
    .footer .container {
        padding-left : 24px;
        padding-right: 24px;
    }

    .footer_inner_one {
        padding: 50px 0 33px 0;
    }

    .footer .logo_wrapper {
        max-width: 22.7rem;
        margin: auto;
    }

    .footer h4 {
        font-weight: 500;
        font-size  : 14.029px;
        line-height: 16px;
        margin-top : 21px 0 5px 0;
    }

    .footer h5 {
        font-weight: 500;
        font-size  : 10.5217px;
        line-height: 12px;
    }
    .footer h6 {
        margin-top: 3.5rem;
    }

    .footer_inner_two a {
        font-size  : 14px;
        line-height: 16px;
    }
    .social_link_box {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .social_link_box li a img {
        height: 2.4rem;
        width: 2.4rem;
    }
}