@import "common.css";
@import "header.css";
@import "cards.css";
@import "footer.css";

/* ==popular topics section== */
.popular_topics_section .book_card_with_bg_section {
    padding-top: 2.4rem;
}

/* searvices section*/
.searvices_section .searvices{
    background-color: var(--blue);
    border-radius: 1.5rem;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
    max-width: 33.5rem;
    margin: auto;
    position: relative;
}

.searvices_section .searvices::after{
    content: '';
    position: absolute;
    height: 0px;
    border-bottom: 2px dashed #BDBDBD;
    width: 100%;
    top: 0;
    left: 100%;
    bottom: 0;
    margin: auto;
}

.searvices_section .row>div:last-child .searvices::after{
    display: none;    
}

.searvices_section .searvices .searvices_content{
      width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.3rem 0;
}
.searvices_section .searvices .searvices_content .Service_img{
    margin-bottom: 2.1rem;
}
.searvices_section .searvices .searvices_content .Service_text{
    color: var(--white);
    font-family: 'Inter',sans-serif;
    font-size: 2.2rem;
    line-height: 2.6rem;
}


/* ==new published book== */
.new_published_card {
    display: flex;
    align-items: center;
}
.new_published_card .image_wrapper {
    flex: 0 0 17.5rem;
    max-width: 17.5rem;
    width: 100%;
    /* filter: drop-shadow(20px 20px 35px rgba(0, 0, 0, 0.13)); */
    border-radius: 1rem;
    box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 20px -8px rgba(0,0,0,0.26);
}
.new_published_card .image_wrapper img {
    border-radius: 1rem;
}
.new_published_card .content_wrapper {
    /* background: #E7F6F5; */
    padding: 2.5rem 2.5rem 2.5rem 2.8rem;
    position: relative;
}
.new_published_carousel_wrapper .owl-item:nth-child(odd) .new_published_card .content_wrapper {
    background: rgba(231, 246, 245, .5);
}
.new_published_carousel_wrapper .owl-item:nth-child(even) .new_published_card .content_wrapper {
    background: rgba(253, 246, 234, .5);
}


/* ==carousel button > new published book== */
.new_published_book_section .sc_title_wrapper {
    margin-bottom: 0;
}
.new_published_book_carousel .owl-nav button, .writers_carousel .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.new_published_book_carousel .owl-nav button.owl-prev{
    left: 0;
}
.new_published_book_carousel .owl-nav button.owl-next{
    right: 0;
}

/* ==carousel button > writers== */
.writers_carousel .owl-nav button{
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
}
.writers_carousel .owl-nav button.owl-prev{
    left: 0rem;
}
.writers_carousel .owl-nav button.owl-next{
    right: 0rem;
}

/* ==carousel button > most selling books== */
.most_selling_book_carousel .owl-nav button{
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}
.most_selling_book_carousel .owl-nav button.owl-prev{
    left: 0;
}
.most_selling_book_carousel .owl-nav button.owl-next{
    right: 0;
}
@media (max-width: 1679.98px) {
    .new_published_card .image_wrapper {
        flex: 0 0 20.5rem;
        max-width: 20.5rem;
    }
}
@media (max-width: 1366px) {
    .most_selling_book_carousel .item{
        padding: 4rem 8rem 0;
    }
    .writers_carousel .item{
        padding: 4rem 8rem 0;
    }
    .new_published_card .image_wrapper {
        flex: 0 0 17.5rem;
        max-width: 17.5rem;
    }
    .new_published_card .content_wrapper {
        padding: 2.5rem 0.5rem 0.5rem 0.8rem;
    }
    .book_card_content h6.discount {
        margin-right: .3rem;
    }

    .circle_bg img {
        max-width: 15rem;
    }
    .book_card_content h3.title {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .book_card_content h5.regular {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .book_card_content p.author, .book_card_content h6.discount {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 1366px) {
    /* ==new published book== */
    .new_published_carousel_wrapper .container {
        max-width: 1340px;
    }
    .new_published_book_carousel .item {
        padding: 4rem 0rem 3.2rem 1rem;
    }
    .new_published_card .image_wrapper {
        flex: 0 0 16.5rem;
        max-width: 16.5rem;
    }
    /* ==most selling books== */
    .most_selling_book_section{
        padding-top: 3.2rem;
    }
    .most_selling_book_section .sc_title_wrapper{
        margin-bottom: 0;
    }
    .most_selling_carousel_wrapper .container {
        max-width: 1366px;
    }
    .most_selling_carousel_wrapper .item {
        padding: 4rem 8rem 0 8rem;
    }

    /* ==writers== */
    .writer_section_slider{
        padding-top: 3rem;
        padding-bottom: 0rem;
    }
    .writer_section_slider .sc_title_wrapper{
        margin-bottom: 0;
    }
    .writers_carousel_wrapper .container {
        max-width: 1340px;
    }
    .writers_carousel_wrapper .item {
        padding: 4rem 4.5rem;
    }

    /* ==carousel control== */
    .new_published_book_carousel .owl-nav button, .writers_carousel .owl-nav button {
        top: 40%;
        transform: translateY(-40%);
    }
}
@media (min-width: 1440px) {
    /* ==most selling books== */
    .most_selling_carousel_wrapper .container {
        max-width: 1420px;
    }
    /* .most_selling_carousel_wrapper .item {
        padding: 4rem 8rem 0 8rem;
    } */

    /* ==writers== */
    .writers_carousel_wrapper .container {
        max-width: 1400px;
    }
    .writers_carousel_wrapper .item {
        padding: 4rem 5rem 0;
    }
}

@media (min-width: 1920px) {
    /* ==new published book== */
    .new_published_carousel_wrapper .container {
        max-width: 1735px;
    }
    .new_published_book_carousel .item {
        padding: .8rem 1rem 6rem 2rem;
    }
    /* ==most selling books== */
    .most_selling_carousel_wrapper .container {
        max-width: 1795px;
    }
    .most_selling_carousel_wrapper .item {
        padding: .8rem 8rem 0 8rem;
    }

    /* ==writers== */
    .writers_carousel_wrapper .container {
        max-width: 1735px;
    }
    .writers_carousel_wrapper .item {
        padding: .8rem 7rem 2rem;
    }
}







@media (max-width: 991.98px) {
    .btn_box_smd {
        text-align: center;
        margin-top: 4.8rem;
    }
    .new_published_book_section {
        padding: 4.5rem 0;
    }
    .searvices_section .searvices{
        margin-bottom: 7rem;
    }

    .searvices_section .searvices::after{
        height: 100%;
        border-right: 2px dashed #BDBDBD;
        width: 0;
        left: 0;
        right: 0;
        top: 355px;
        margin: auto;
    }
    .book_card_content h6.discount {
        margin-right: 1.5rem;
    }
    .new_published_book_carousel .item{
        padding-top: 4.5rem;
    }
    .new_published_book_carousel .owl-dots, .common_carousel .owl-dots {
        padding-top: 4.5rem;
    }
    .most_selling_carousel_wrapper .item {
        padding: 4.5rem 8rem 0 8rem;
    }
}

@media (max-width: 767.98px) {
    .writers_carousel_wrapper .item {
        padding: 4rem 6rem;
    }
    .new_published_card .image_wrapper {
        flex: 0 0 17rem;
        max-width: 17rem;
    }
    .searvices_section .searvices .row{
        padding: 5.2rem 0;
    }
    .searvices_section .searvices .row>*:not(:last-child){
        padding-bottom: 8.5rem;
    }
    .searvices_section .searvices .searvices_content .Service_img {
        width: 4.5rem;
    }
    .searvices_section .searvices .searvices_content .Service_text {
        font-size: 1.8rem;
    }
    .new_published_card .content_wrapper {
        padding: 1.9rem 2.5rem 1.7rem 1.9rem;
    }

    .new_published_card {
        justify-content: center;
    }

    .searvices_section .searvices::after{
        top: 275px;
    }
    .most_selling_book_section .sc_title_wrapper {
        margin-bottom: 0;
    }
    .writer_section_slider .sc_title_wrapper {
        margin-bottom: 0;
    }
   
}
@media (max-width: 575.98px) {
    .popular_topics_section .book_card_with_bg_section {
        padding-top: 3rem;
    }
    .most_selling_carousel_wrapper .container{
        padding: 0;
    }
    .writers_carousel_wrapper .container{
        padding: 0;
    }
    .new_published_book_section {
        padding-top: 3rem;
        padding-bottom: 3rem;

    }
    .btn_box_smd {
        text-align: center;
        margin-top: 3.2rem;
    }
    .most_selling_carousel_wrapper .item {
        padding: 3rem 4rem 0 4rem;
    }
    .new_published_carousel_wrapper{
        margin-top: 3.2rem;
    }
    .new_published_carousel_wrapper .container{
        padding: 0;
    }
    .writer_section_slider{
        padding-top: 3.2rem;
    }
    .writers_carousel_wrapper .item {
        padding: 3rem 4rem 0;
    }

    .new_published_book_section.pb-70 {
        padding-bottom: 9.2rem;
    } 
    .new_published_book_carousel .item {
        padding: 0rem 2rem 3rem 2rem;
    }

    .searvices_section .searvices::after{
        top: 320px;
    }
}

