@import "common.css";
@import "header.css";
@import "cards.css";
@import "footer.css";

/* ==popular topics section== */
.popular_topics_section .book_card_with_bg_section {
    padding-top: 2.4rem;
}

/* searvices section*/
.searvices_section .searvices{
    background-color: var(--blue);
    border-radius: 1.5rem;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}
.searvices_section .searvices .searvices_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
}
.searvices_section .searvices .searvices_content .Service_img{
    margin-bottom: 2.1rem;
}
.searvices_section .searvices .searvices_content .Service_text{
    color: var(--white);
    font-family: 'Inter',sans-serif;
    font-size: 2.2rem;
    line-height: 2.6rem;
}


/* ==new published book== */
.new_published_card {
    display: flex;
    align-items: center;
}
.new_published_card .image_wrapper {
    flex: 0 0 22.9rem;
    max-width: 22.9rem;
    width: 100%;
    filter: drop-shadow(20px 20px 35px rgba(0, 0, 0, 0.13));
    border-radius: 1rem;
}
.new_published_card .image_wrapper img {
    border-radius: 1rem;
}
.new_published_card .content_wrapper {
    /* background: #E7F6F5; */
    padding: 3.5rem 3.5rem 3.5rem 2.8rem;
    position: relative;
}
.new_published_carousel_wrapper .owl-item:nth-child(odd) .new_published_card .content_wrapper {
    background: rgba(231, 246, 245, .5);
}
.new_published_carousel_wrapper .owl-item:nth-child(even) .new_published_card .content_wrapper {
    background: rgba(253, 246, 234, .5);
}


/* ==carousel button > new published book== */
.new_published_book_carousel .owl-nav button, .writers_carousel .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.new_published_book_carousel .owl-nav button.owl-prev{
    left: 0;
}
.new_published_book_carousel .owl-nav button.owl-next{
    right: 0;
}

/* ==carousel button > writers== */
.writers_carousel .owl-nav button{
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
}
.writers_carousel .owl-nav button.owl-prev{
    left: 0rem;
}
.writers_carousel .owl-nav button.owl-next{
    right: 0rem;
}

/* ==carousel button > most selling books== */
.most_selling_book_carousel .owl-nav button{
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}
.most_selling_book_carousel .owl-nav button.owl-prev{
    left: 0;
}
.most_selling_book_carousel .owl-nav button.owl-next{
    right: 0;
}


@media (min-width: 1366px) {
    /* ==new published book== */
    .new_published_carousel_wrapper .container {
        max-width: 1340px;
    }
    .new_published_book_carousel .item {
        padding: 4rem 4rem 10rem 4rem;
    }
    /* ==most selling books== */
    .most_selling_carousel_wrapper .container {
        max-width: 1366px;
    }
    .most_selling_carousel_wrapper .item {
        padding: 4rem 8rem 0 8rem;
    }

    /* ==writers== */
    .writers_carousel_wrapper .container {
        max-width: 1340px;
    }
    .writers_carousel_wrapper .item {
        padding: 4rem 4.5rem;
    }

    /* ==carousel control== */
    .new_published_book_carousel .owl-nav button, .writers_carousel .owl-nav button {
        top: 40%;
        transform: translateY(-40%);
    }
}
@media (min-width: 1440px) {
    /* ==most selling books== */
    .most_selling_carousel_wrapper .container {
        max-width: 1420px;
    }
    .most_selling_carousel_wrapper .item {
        padding: 4rem 8rem 0 8rem;
    }

    /* ==writers== */
    .writers_carousel_wrapper .container {
        max-width: 1400px;
    }
    .writers_carousel_wrapper .item {
        padding: 4rem 5rem;
    }
}
@media (min-width: 1680px) {}

@media (min-width: 1920px) {
    /* ==new published book== */
    .new_published_carousel_wrapper .container {
        max-width: 1735px;
    }
    .new_published_book_carousel .item {
        padding: 4rem 5rem 10rem 5rem;
    }
    /* ==most selling books== */
    .most_selling_carousel_wrapper .container {
        max-width: 1795px;
    }
    .most_selling_carousel_wrapper .item {
        padding: 4rem 8rem 0 8rem;
    }

    /* ==writers== */
    .writers_carousel_wrapper .container {
        max-width: 1735px;
    }
    .writers_carousel_wrapper .item {
        padding: 4rem 5rem;
    }
}






@media (max-width: 1679.98px) {
    /* .new_published_card .image_wrapper img {
        transform: scale(.8);
    } */
    .new_published_card .image_wrapper {
        flex: 0 0 20.5rem;
        max-width: 20.5rem;
    }
}
@media (max-width: 991.98px) {
    .btn_box_smd {
        text-align: center;
        margin-top: 4.8rem;
    }
    .new_published_book_section {
        padding-bottom: 120px;
    }
    /* .new_published_card .image_wrapper img {
        transform: scale(1);
    } */
}

@media (max-width: 767.98px) {
    .most_selling_carousel_wrapper .item {
        padding: 6rem 8rem 0 8rem;
    }
    .writers_carousel_wrapper .item {
        padding: 4rem 6rem;
    }
    .new_published_card .image_wrapper {
        flex: 0 0 17rem;
        max-width: 17rem;
    }
    .searvices_section .searvices .row{
        padding: 5.2rem 0;
    }
    .searvices_section .searvices .row>*:not(:last-child){
        padding-bottom: 8.5rem;
    }
    .searvices_section .searvices .searvices_content .Service_img {
        width: 4.5rem;
    }
    .searvices_section .searvices .searvices_content .Service_text {
        font-size: 1.8rem;
    }
    .new_published_card .content_wrapper {
        padding: 1.9rem 2.5rem 1.7rem 1.9rem;
    }

    .new_published_card {
        justify-content: center;
    }
    .searvices_section .searvices .searvices_content{
        padding: 0 ;        
    }

}
@media (max-width: 575.98px) {
    .most_selling_carousel_wrapper .container{
        padding: 0;
    }
    .writers_carousel_wrapper .container{
        padding: 0;
    }
    .new_published_carousel_wrapper .container{
        padding: 0;
    }
    .new_published_book_section.pb-70 {
        padding-bottom: 9.2rem;
    } 
    .new_published_book_carousel .item {
        padding: 6rem 2rem 8rem 2rem;
    }
}

