@import "common.css";
@import "header.css";
@import "cards.css";
@import "footer.css";

/* ==upload picture== */
.upload-picture {
    text-align: center;
}

.upload-picture img {
    width        : 16rem;
    height       : 16rem;
    border-radius: 50%;
}

input[type="file"] {
    position  : absolute;
    opacity   : 0;
    visibility: hidden;
    top       : 0;
    left      : 0;
}

.upload-picture .upload-picture-inner {
    margin-bottom: 4.8rem;
}

.upload-picture .edit-icon {
    width        : 3.6rem;
    height       : 3.6rem;
    border-radius: 50%;
    background   : var(--black);
    text-align   : center;
    cursor       : pointer;
    position     : absolute;
    top          : 75%;
    right        : 5.5%;
}

.upload-picture .edit-icon svg {
    width      : 3.2rem;
    height     : 3.2rem;
    line-height: 3.2rem;
    padding    : .7rem;
}

.upload-picture label {
    cursor  : pointer;
    position: relative;
}

.my_profile_body {
    margin-top: 4.8rem;
}

.my_profile_body .nav-tabs {
    max-width    : 95.1rem;
    width        : 100%;
    margin       : 0 auto;
    position     : relative;
    border       : none;
    border-bottom: 1px solid #E0E0E0;
}

.my_profile_body .tab-content .tab-pane {
    max-width  : 72rem;
    width      : 100%;
    margin     : 0 auto;
    padding-top: 4rem;

}

.my_profile_body .address_loc_details {
    border       : 1px solid #AEC4BB;
    padding      : 1.3rem 2.7rem;
    border-radius: 10px;
    margin-bottom: 1.2rem;
}

.my_profile_body .tab-content .my_address_details {
    padding: 0 8rem;
}

.my_profile_body .tab-content .my_address_details .address_loc>span {
    color: #4F7F6C;
}

.my_profile_body .tab-content .my_address_details .address_loc_edit .form-check-label {
    font-weight: 700;
    font-size  : 1.8rem;
    line-height: 2.6rem;
    color      : #797979;
}

.my_profile_body .tab-content .my_address_details .address_loc_buttons {
    text-align : end;
    padding-top: 2.8rem;
}

.my_profile_body .tab-content .my_address_details .address_loc_buttons .edit {
    background  : url("../images/icons/Edit.svg");
    width       : 34px;
    height      : 34px;
    display     : inline-block;
    margin-right: .8rem;
}

.my_profile_body .tab-content .my_address_details .address_loc_buttons .delete {
    background: url("../images/icons/Delete.svg");
    width     : 34px;
    height    : 34px;
    display   : inline-block;
}

.my_profile_body .tab-content .my_address_details .address_loc_buttons button {
    background: none;
    color     : inherit;
    border    : none;
    padding   : 0;
    font      : inherit;
    cursor    : pointer;
    outline   : inherit;
}



.form-check-input[type=radio] {
    border-radius: 2px;
}

.my_profile_body .tab-content .my_address_details .form-check-input:checked {
    background-color: #4F7F6C;
    border-color    : #4F7F6C;
}

.my_profile_body .tab-content .my_address_details .form-check-input:checked[type=radio] {
    background-image: url("../images/icons/radio-chack.svg");
    border          : 0;
}

.my_profile_body .tab-content .my_address_details .form-check-input:focus {
    border-color: #AEC4BB;
    outline     : 0;
    box-shadow  : none;
}

.my_profile_body .tab-content .my_address_details .address_loc {
    padding-bottom: .9rem;
    font-size     : 1.8rem;
    font-weight   : 700;
    line-height   : 2.6rem;
    color         : #797979;
}

.my_profile_body .tab-content .tab-pane.books_choice {
    max-width: 91rem;
}

.circular {
    padding-bottom: 4rem;
}

.circular .form-check-input[type=radio] {
    border-radius: 50%;
    width        : 2rem;
    height       : 2rem;
    border       : 4px solid #AEC4BB;

}
.modal.show .modal-dialog{
    max-width: 1620px;
}
.my_profile_body .tab-content .input_fild {
    padding: 1.4rem 17rem 0;

}

.modal-header .btn-close {
    padding: 0.5rem 2rem;
    margin : -2rem -.5rem -.5rem auto;
}

.modal-header .btn-close:focus {
    box-shadow: none;
}

.my_profile_body .modal-dialog {
    max-width: 1260px;
}

.my_profile_body .modal-dialog {
    max-width: 700px;
}

.modal-content {
    border-radius: 1.3rem;
}

.my_profile_body .modal-dialog .modal-body {
    padding: 7rem 5rem;
}

.my_profile_body .modal-dialog .modal-title {
    font-size  : 2.8rem;
    line-height: 3.1rem;
    padding    : 1rem;
    width      : 100%;
    text-align : center;
}

.my_profile_body .modal-body .input_fild_modal {
    padding: 1.4rem 0 .5rem;
}

.circular {
    padding-bottom: 4rem;
}

.my_profile_body .modal-body .circular .form-check-input[type=radio] {
    border-radius: 50%;
    width        : 2rem;
    height       : 2rem;
    border       : 4px solid #AEC4BB;
    margin-top: 0.125rem;
}

.my_profile_body .modal-body .circular .form-check-input:checked {
    border: 4px solid #AEC4BB;
}

.my_profile_body .modal-body .circular .form-check-input:checked[type=radio] {
    background-image: url("../images/icons/circular-radio-center.svg");
    border          : 4px solid #AEC4BB;
}

.my_profile_body .modal-body .circular .form-check-input:focus {
    border-color: none;
    outline     : 0;
    box-shadow  : none;
}

.my_profile_body .tab-content label {
    display       : block;
    padding-bottom: .4rem;
}

.my_profile_body .tab-content label {
    font-size  : 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
}

.my_profile_body .tab-content select,
.my_profile_body .tab-content .form-control {
    width       : 100%;
    padding     : 1.2rem;
    margin      : .2rem;
    border-color: #000000;
    font-size  : 1.4rem;
    line-height: 2.4rem;
    color       : #828282;
}

.my_profile_body .tab-content select,
.my_profile_body .tab-content .form-control:focus {
    border-color: #000;
}

.my_profile_body .tab-content .submit_btn {
    display    : block;
    text-align : center;
    font-size  : 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color      : #fff;
    background : var(--blue);
}

.my_profile_body .tab-content .submit_btn {
    margin-left : 17rem;
    margin-right: 17rem;
    margin-top  : 3.2rem;
    padding     : 1.2rem;
    border      : 1px solid var(--blue);

}

.my_profile_body .tab-content button.submit_btn {
    margin   : 3.2rem 50% 0;
    transform: translateX(-50%);
    padding  : 1.2rem;
    width    : 35.5rem;
    border   : 1px solid var(--blue);
}

.my_profile_body .nav-tabs a {
    font-family   : 'Ruposhi Bangla Unicode';
    display       : inline-block;
    font-size     : 2rem;
    line-height   : 2.6rem;
    font-weight   : 400;
    color         : var(--gray);
    text-transform: capitalize;
    background    : none;
    outline       : none;
    padding-bottom: 1.7rem;
    position      : relative;
}

.my_profile_body .nav-tabs a.active {
    font-weight: 700;
    color      : #000;
}

.my_profile_body .nav-tabs a.active::before {
    content   : '';
    position  : absolute;
    bottom    : -1px;
    left      : 0;
    width     : 100%;
    height    : 2px;
    background: var(--gray);
}

.my_profile_body .order_details,
.my_profile_body .address_loc_details {
    display        : flex;
    justify-content: space-between;
}

.my_profile_body .order_details {
    border : 2px solid #F2F2F2;
    padding: 2.4rem 2.4rem 2.2rem;
}

.my_profile_body .order_details p {
    font-size  : 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
    color      : #4F4F4F;
}

.my_profile_body .order_details p>span {
    font-size  : 1.4rem;
    line-height: 2.6rem;
    font-weight: 500;
    font-family: "inter", sans-serif;
}

.my_profile_body .order_details .order_code {
    padding-bottom: 1.7rem;
}

.my_profile_body .order_details .order_price {
    font-size     : 2rem;
    line-height   : 2.6rem;
    font-weight   : 700;
    padding-bottom: 2.4rem;
}

.my_profile_body .order_details .order_sign {
    padding    : .8rem 5.2rem;
    font-size  : 1.6rem;
    line-height: 2.6rem;
    font-family: 700;
}

.my_profile_body .order_details .delevery {
    background: #2196531A;
    color     : #219653;
    padding   : .8rem 4rem;
}

.my_profile_body .order_details .panding {
    background: #F2994A1A;
    color     : #F2994A;
}

.book_cards_section .row {
    margin-top   : -4.2rem;
    margin-bottom: -4.2rem;
    margin-left  : -5.5rem;
    margin-right : -5.5rem;
}

.book_cards_section .row>* {
    padding-top   : 4.2rem;
    padding-bottom: 4.2rem;
    padding-left  : 5.5rem;
    padding-right : 5.5rem;
}

/* New CSS for modal History */
.order-history-content {
    border       : 1px solid #E0E0E0;
    border-radius: 0;
}

.order-history-content .modal-body {
    padding: 4.8rem;
}

.modalCloseBtn img {
    height: 24px;
    width : 24px;
}

.modalCloseBtn {
    height          : 24px;
    width           : 24px;
    border          : none;
    background-color: transparent;
    position        : absolute;
    top             : 12px;
    right           : 12px;
    z-index         : 2;
}

.order-header h1 {
    font-family  : 'Inter';
    font-weight  : bold;
    font-size    : 2.4rem;
    line-height  : 2.6rem;
    color        : #797979;
    margin-bottom: 6.1rem;
    border-bottom: 1px solid #79797944;
    padding      : 15px ;
}

.order-header h1 span {
    font-family: 'inter';
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #797979;
    padding-left: 1rem;
}


.order-header h5 {
    font-weight: normal;
    font-size  : 2rem;
    line-height: 2.6rem;
    color      : #4F4F4F;
}


.delevery-success,
.delevery-pending {
    background : rgba(33, 150, 83, 0.1);
    padding    : .8rem 1.6rem;
    font-weight: bold;
    font-size  : 1.6rem;
    line-height: 2.6rem;
    color      : #219653;
    display    : inline-block;
    min-width  : 14rem;
    text-align : center;
}

.delevery-pending {
    background: rgba(242, 153, 74, 0.1);
    color     : #F2994A;
}


/* order-items */
.order-items {
    border: 1px solid #4F7F6C;
    border-radius: 10px;
    padding-bottom: 125px;
}
.order-items .order-item-box {
    padding-left : 2.7rem;
    border: none;
}
.order-items .order-item-box ul li {
    margin-bottom: 1.6rem;
}
.order-items .order-item-box ul li>div span:first-child {
    width: 178px;
}
.order-items .order-item-box ul li>div span:first-child {
    color: #262626;
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
.order-items .order-item-box ul li>div span:last-child {
    color: #797979;
    font-family: "inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}
.order-items .order-item-box ul li:last-child>div span:last-child{
    font-family  : 'Ruposhi Bangla Unicode';
}
.order-items .order-item-box ul li>div span:last-child label {
    padding-right: 21px;
    font-family  : 'Ruposhi Bangla Unicode';
}
.order-items .order-item-box:last-child ul li>div span:last-child{
    font-family  : 'Ruposhi Bangla Unicode';
}


.order-item-header{
    padding      : 2.1rem 0 1.5rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #4F7F6C;
}
.order-item-header h2{
    font-weight    : bold;
    font-size      : 2.3rem;
    line-height    : 3.4rem;
    color          : #262626;
    padding-left   : 2.7rem;
}

/* Small Device Cart */

.special-note .small_cart_wrapper{
    display: none;
}

/* large device cart */
.special-note .large_cart_wrapper {
    border: 1px solid var(--blue);
    border-radius: 1rem;
    margin-right: 60px;
}

.special-note .large_cart_wrapper>div .large_cart_inner:first-child >h2 {
    font-family  : "Inter";
    font-style   : normal;
    font-weight  : 600;
    font-size    : 20px;
    line-height  : 24px;
    color        : #262626;
}
.special-note .large_cart_wrapper>div .large_cart_inner:first-child {
    border-bottom: 1px solid var(--blue);
    padding-top: 22px;
    padding-bottom: 24px;
}
.special-note .large_cart_wrapper .large_cart_inner:nth-child(2) {
    padding: 3.8rem 2.7rem 1.8rem;
}.special-note .large_cart_wrapper .large_cart_inner {
    padding: 1.7rem 2.7rem 1.8rem;
}
.special-note .large_cart_wrapper .large_cart_inner:last-child {
    padding: 1.7rem 2.7rem 4.6rem;
}
.special-note .large_cart_wrapper p.header {
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 3.4rem;
    text-transform: capitalize;
}
.special-note .large_cart_wrapper .del_btn_wrapper {
    max-width: 76px;
    text-align: center;
}
.special-note .large_cart_wrapper .del_btn_wrapper .del_btn {
    background: transparent;
}
.special-note .large_cart_wrapper .image_content {
    display: flex;
    align-items: center;
}

.special-note .large_cart_wrapper .image_content img {
    max-width: 7.8rem;
    margin-right: 2.6rem;
}
.special-note .large_cart_wrapper .btn_group {
    max-width: 131px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.special-note .large_cart_wrapper .pd_price_cell, 
.special-note .image_content .pd_info_cell h2, 
.special-note .large_cart_wrapper .btn_group span, 
.special-note .large_cart_wrapper .pd_price_cell h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #797979;
}

.special-note .large_cart_wrapper .pd_price_cell {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.special-note .large_cart_wrapper button {
    border: 0;
}
.special-note .large_cart_wrapper .pd_price_cell h2, 
.special-note .large_cart_wrapper .pd_price_cell h6 {
    text-align: center;
}
.special-note .large_cart_wrapper .pd_price_cell.total h2 {
    text-align: right;
}
.special-note .large_cart_wrapper .total_item {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}
.special-note .large_cart_wrapper .total_item.last {
    padding-bottom: 2.4rem;
}
.special-note .large_cart_wrapper a.fire_jan {
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--blue);
} 
.special-note .large_cart_wrapper .check_btn {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 600;
    padding: 1.3rem 3.6rem;
    border-radius: 3px;
}
.special-note .col-md-3 .large_cart_wrapper {
    margin-right: 0;
}
.special-note .col-md-3 .large_cart_wrapper h3 {
    border-bottom: 1px solid var(--blue);
    padding: 2rem 1.5rem 1.6rem 2.7rem;
    font-weight: bold;
    font-size: 23px;
    line-height: 34px;
    color: #262626;
}
.special-note .col-md-3 .large_cart_wrapper ul {
    padding: 4rem 2.7rem 3.5rem;
}
.special-note .col-md-3 .large_cart_wrapper ul li {
    margin-bottom: 1.6rem;
}
.special-note .col-md-3 .large_cart_wrapper ul li:last-child {
    border-top: 1px solid var(--blue);
    padding-top: 1.2rem;
    margin-top: 5.6rem;
}
.special-note .col-md-3 .large_cart_wrapper ul li>div{
    display: flex;
    align-items: center;
}
.special-note .col-md-3 .large_cart_wrapper ul li>div span:first-child {
    width: 45%;
    color: #262626;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.6rem;
}
.special-note .col-md-3 .large_cart_wrapper ul li>div span:last-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #797979;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3rem;
}

.special-note .col-md-3 .large_cart_wrapper ul li>div span label {
    font-family  : 'Ruposhi Bangla Unicode';
}
.special-note .col-md-3 .large_cart_wrapper ul li:last-child>div span:last-child p{
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
    color: #262626;
}

.special-note {
    padding: 0;
    padding-top: 6.1rem;
}

/* end */
.order-item-box {
    border-right : 1px solid #E0E0E0;
    padding-right: 6.2rem;
}

.order-item-box ul li {
    display        : flex;
    justify-content: space-between;
}

.order-item-box ul li>div span:first-child {
    font-weight : bold;
    font-size   : 2.2rem;
    line-height : 2.6rem;
    color       : #383838;
    margin-right: 1.5rem;
}

.order-item-box ul li>div span:last-child {
    font-weight: normal;
    font-size  : 2.2rem;
    line-height: 2.6rem;
    color      : #383838;
}

.order-item-box ul li div:last-child {
    font-weight: normal;
    font-size  : 2rem;
    line-height: 2.6rem;
    color      : #000000;
}

.order-item-box ul li {
    margin-bottom: 2rem;
}

.order-item-box ul li:last-child {
    margin-bottom: 0;
}

.order-price-box {
    padding-left: 6.2rem;
}


.order-price-box ul li span {
    display    : inline-block;
    font-weight: normal;
    font-size  : 2rem;
    line-height: 2.6rem;
    color      : #828282;
}

.order-price-box ul li {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 2rem;
}

.order-price-box ul li:last-child {
    margin-bottom: 0;
}


.order-price-box ul li:last-child span {
    color      : #000000;
    font-weight: bold;
}


.special-note {
    padding-top: 6.1rem;
}

.special-note h1 {
    font-weight  : bold;
    font-size    : 1.8rem;
    line-height  : 2.6rem;
    color        : #000000;
    margin-bottom: .4rem;
}

.special-note h3 {
    font-weight: normal;
    font-size  : 1.8rem;
    line-height: 2.6rem;
    color      : #828282;
}

/* product delete button */
button.addtocart {
    background: #df0505;
}

@media (max-width: 991px) {
    .book_cards_section .row {
        margin-top   : -4.2rem;
        margin-bottom: -4.2rem;
        margin-left  : -3rem;
        margin-right : -3rem;
    }

    .book_cards_section .row>* {
        padding-top   : 4.2rem;
        padding-bottom: 4.2rem;
        padding-left  : 3rem;
        padding-right : 3rem;
    }

    .my_profile_body .tab-content .input_fild {
        padding: 1.4rem 1rem;
    }

    .my_profile_body .tab-content .submit_btn {
        margin : 3.2rem 0 0;
        padding: 1.2rem;
    }

    .my_profile_body .order_details {
        padding: 2.4rem 1rem 2.2rem;
    }

    .my_profile_body .tab-content label {
        margin-bottom: 1rem;
    }
}

@media (max-width: 767.98px) {
    .order-item-header h2 {
        padding-left: 1.5rem;
    }
    .order-items .order-item-box {
        padding-left: 1.5rem;
    }
    .order-items .order-item-box:not(:last-child) {
        padding-left: 1.5rem;
        border-bottom : 1px solid #E0E0E0;
    }
    .order-history-content .modal-body {
        padding: 0;
    }
    .order-items .order-item-box ul li>div span:first-child {
        width: 85px;
    }
    .order-items .order-item-box ul li>div span:first-child {
        font-size: 17px;
        line-height: 30px;
    }
    .order-items .order-item-box ul li>div span:last-child {
        font-size: 17px;
        line-height: 23px;
    }
    .special-note .large_cart_wrapper {
        display: none;
    }
    .special-note .large_cart_wrapper.order_details {
        display: block;
        margin-bottom: 61px;
    }
    /* Small Device Cart */
    
    .special-note .small_cart_wrapper {
        display: block;
        margin-bottom: 6.1rem;
        border: 1px solid var(--blue);
        border-radius: 1rem;
    }
    .special-note .small_cart_wrapper .large_cart_inner:not(:first-child){
        padding-bottom: 49px;
        padding-top: 49px;
    }
    .special-note .small_cart_wrapper>div .large_cart_inner:first-child >h2 {
        font-family  : "Inter";
        font-style   : normal;
        font-weight  : 600;
        font-size    : 20px;
        line-height  : 24px;
        color        : #262626;
        padding      : 1rem 2.9rem .8rem;
        border-bottom: 1px solid #4F7F6C;
    }
    .special-note .small_cart_wrapper .item_content{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
        position: relative;
    }
    .special-note .small_cart_wrapper .item_content .pd_price_cell{
        position: absolute;
        top: 0;
        left: 30px;
    }
    .special-note .small_cart_wrapper .item_content .image_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .special-note .small_cart_wrapper .item_content .image_content img{
        width: 77px;
    }
    .special-note .small_cart_wrapper .item_content .pd_info_cell{
        padding-top: 12px;
    }
    
    
    /* Small Device Cart End */
    .special-note .pd_price_cell .header {
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: #262626;
        padding-bottom: .8rem;
    }
    .special-note .btn_group span,
    .special-note .pd_price_cell h2
    {
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: #797979;
    }
    /* end */

    .my_profile_body .address_loc_details {
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
    }

    .my_profile_body .tab-content .my_address_details {
        padding: 0;
    }

    .my_profile_body .tab-content .my_address_details .address_loc_buttons {
        padding-top: 0;
        display    : inline-block;
    }

    .my_profile_body .tab-content .my_address_details .address_loc_edit .form-check-label {
        margin-bottom: 0;
    }

    .my_profile_body .tab-content .my_address_details .address_loc_edit {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
    }

    .my_profile_body .address_loc_details {
        padding: 1.3rem 1.8rem;
    }

    .book_cards_section .row {
        margin-left : -2.4rem;
        margin-right: -2.4rem;
    }

    .book_cards_section .row>* {
        padding-left : 2.4rem;
        padding-right: 2.4rem;
    }

    .my_profile_body .nav-tabs a {
        margin-bottom : 2rem;
        padding-bottom: 1rem;
    }

    .my_profile_body .tab-content .tab-pane.edit .input_fild_modal {
        padding: 1.4rem 1rem 0;
    }

    .my_profile_body .modal-dialog .modal-title {
        text-align: start;
    }

    .my_profile_body .modal-dialog .modal-body {
        padding: 1rem 0;
    }

    .circular {
        padding-bottom: 2rem;
    }

    .my_profile_body .tab-content select option {
        width: 100px;
    }

    .my_profile_body .modal-body .submit_btn {
        margin: 3.2rem 25px 0;
    }



    /* New CSS for order history modal */
    .delevery-success,
    .delevery-pending {
        margin-top   : 1.5rem;
        margin-bottom: 1rem;
    }

    .order-item-box {
        padding-right : calc(var(--bs-gutter-x) * .5);
        border-right  : none;
        border-bottom : 1px solid #E0E0E0;
        margin-bottom : 2rem;
        padding-bottom: 2rem;
    }

    .order-price-box {
        padding-left: calc(var(--bs-gutter-x) * .5);

    }

}